svg {
    box-shadow: none !important;
}

.layout-main_root {
    width: 100%;
    height: 100%;
    margin-top: 0;
    z-index: 1;
}

.layout-main_app-frame {
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
}

.layout-main_drawer-paper {
    background-color: #0277bd !important;
    max-width: 250px !important;
    height: 100% !important;
    position: relative !important;
}

.layout-main_drawer-paper--bottom {
    background-color: #0277bd !important;
    max-width: 100% !important;
    height: auto !important;
    max-height: 100vh;
}

.layout-main_drawer-docked {
    height: 100% !important;
}

.layout-main_content {
    position: relative;
    width: 100%;
    height: calc(100% - 64px);
    margin-top: 64px;
    background-color: #fafafa;
}

.layout-main_menu-button {
    margin-left: -12px;
    margin-right: 10px;
    display: inline-flex !important;
}

.layout-main_header-wrapper {
    padding: 8px !important;
    background-color: #0277bd !important;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
}

.layout-main_menu-button-bottom {
    position: fixed !important;
    bottom: 20px !important;
    left: 50% !important;
    transform: translate(-50%, 0) !important;
    display: inline-flex !important;
    z-index: 1000 !important;
    background-color: #0277bd !important;
}

.layout-main_search-button-mobile {
    margin-left: -12px;
    margin-right: 10px;
    display: inline-flex !important;
}
.layout-main_search-button {
    margin-left: -12px;
    margin-right: 10px;
    display: none !important;
}

.layout-children_header-wrapper {
    padding: 8px !important;
    background-color: #0277bd !important;
    position: fixed !important;
    left: 0 !important;
    right: 0 !important;
    top: 0 !important;
}

.layout-children_tool-bar {
    min-height: initial !important;
    box-shadow: none !important;
}

.layout-children_app-bar{
    background-color: transparent!important;
    box-shadow: none !important;
    border:none !important;
}

.layout-children_arrow-button{
    margin-left: -12px  !important;
    margin-right: 10px  !important;
    color: #ffffff !important;
    text-decoration: none;
    box-shadow: none !important;
    display: inline-flex;
}
.layout-children_arrow-button span,
.layout-children_arrow-button svg {
    box-shadow: none !important;
}
.layout-children_flex{
    flex: 1;
    box-shadow: none !important;
}


.fonts-white {
    color: #ffffff !important;
    text-decoration: none !important;
}





@media (min-width: 960px) {
    .layout-main_drawer-paper {
        width: 240px !important;
    }

    .layout-main_drawer-paper--bottom {
        width: 240px !important;
    }

    .layout-main_header-wrapper{
        width: calc(100% - 256px);
        margin-left: 240px;
    }

    .layout-main_search-button-mobile {
        display: none;
    }
    .layout-main_search-button{
        display: inline-flex !important;
    }

    .layout-main_menu-button {
        display: none !important;
    }
    .layout-main_menu-button-bottom{
        display: none !important;
    }

    .layout-children_header-wrapper{
        width: calc(100% - 256px);
        margin-left: 240px;
    }
}