body, html {
    margin: 0 !important;
    padding: 0 !important;
    height: 100%;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

#root {
    height: 100%;
    width: 100%;

}

.input--no-border:before {
    content: none !important;
}

.input_label {
    display: block;
    padding: 10px 40px;
    border-bottom: 2px solid #e0e0e0;
}

.input_radio {
    position: absolute;
    opacity: 0;
}

.input_radio:checked + .input_radio-dot {
    opacity: 1;
}

.input_radio-wrapper {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    padding: 8px 0;

    border-bottom: 2px solid #e0e0e0;
}

.input_radio-wrapper--margin-left-60 {
    margin-left: 60px;
}

.input_radio-text {
    display: inline-block;
    width: 100%;
    vertical-align: middle;
    line-height: 28px !important;
    color: rgba(0, 0, 0, 0.87);
    font-size: 0.875rem;
    font-weight: 400;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.input_radio-dot {
    display: inline-block;
    vertical-align: middle;
    opacity: 0;
}

.input_radio-dot svg {
    /*width: 30px;*/
    /*height: 30px;*/
}

.accordion_wrapper {
    padding-left: 30px;
    padding-right: 30px;
    border-bottom: 2px solid #e0e0e0;
}

.accordion_header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    padding-left: 0;
    padding-right: 0;
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: transparent;
    border: none;
    outline: none;
}

.accordion_title {
    line-height: 30px;
}

.accordion_arrow {
    width: 30px !important;
    height: 30px !important;
}

.accordion_content {
    display: none;
    padding-bottom: 20px;
}

.accordion_content--active {
    display: block;
}

.articles__list {
    padding: 0;
    margin: 0;
}

.articles__item {
    display: block;
    padding: 10px 40px;
    border-bottom: 2px solid #e0e0e0;
}

.articles__link {
    color: rgba(0, 0, 0, 0.87);
    font-size: 1rem;
    font-weight: 400;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    line-height: 1.5em;
    text-decoration: none;
    margin: 0 0 0.35em 0;
    display: block;
}

.article__wrapper {
    padding: 15px;
}

.loading-panel_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1000;
}

.loading-panel_content {
    color: #ffffff;
    padding: 5px;
    font-size: 1rem;
    font-weight: 400;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    line-height: 1.5em;
}

/*.places-description_wrapper{*/
/*padding: 20px 30px;*/
/*}*/

.places-description_title {
    color: #424242;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.places-description_text {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    color: #828181;
    line-height: 1.5em;
    font-size: 1rem;
    font-weight: 400;
}

.cluster img {
    display: none !important;
}


.cluster_license--canceled {
    background-image: url(./cluster_marker_canceled.png);
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
}
.cluster_license--active {
    background-image: url(./cluster_marker_active.png);
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
}

.marker_license--canceled {

}
.marker_license--active {

}


.map-filter_wrapper {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    margin: 10px;
    background-color: rgb(255, 255, 255);
    border-radius: 2px;
    overflow: hidden;
}

.map-filter_toggle {
    position: relative;
    display: inline-block;
    padding: 11px;
    margin: 0;
    border: none;
    background-color: rgb(255, 255, 255);
    font-family: Roboto, Arial, sans-serif;
    font-size: 11px;
    color: rgb(86, 86, 86);
    box-shadow: rgba(0, 0, 0, 0.3) 0 1px 4px -1px;
}

.map-filter_input {
    position: absolute;
    display: none;
}

.map-filter_input:checked + .map-filter_toggle {
    color: rgb(0, 0, 0);
    font-weight: 700;
}

.map-filter_toggle:first-child {
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
}

.map-filter_toggle:last-child {
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
}

.map-filter_toggle.active {
    color: rgb(0, 0, 0);
    font-weight: 700;
}

.info-dialog_content {
    position: absolute;
    top: 5px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 270px;
    padding: 20px;
    background-color: #fff;
    border-radius: 2px;
    box-sizing: border-box;
    box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);
}

.info-dialog_logo {
    width: 72px;
    height: 72px;
    overflow: hidden;
    margin: 0 auto 20px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.info-dialog_img {
    display: block;
    width: 100%;
}

.info-dialog_text {
    color: rgba(0, 0, 0, 0.54);
    margin-bottom: 20px;
    font-size: 1rem;
    font-weight: 400;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    line-height: 1.5em;
}

.info-dialog_text-title {
    color: rgba(0, 0, 0, 0.87);
    font-size: 1.3125rem;
    font-weight: 500;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    line-height: 1.16667em;
}

.info-dialog_text-row {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
}

.info-dialog_text-type {

}

.info-dialog_text-content {

}

.Select-placeholder {
    font-size: 1.2rem;
    font-weight: 500;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.loading {
    -webkit-animation: rotation 2s infinite linear;
}

@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(359deg);
    }
    to {
        -webkit-transform: rotate(0deg);
    }
}

.help_list {

}

.help_item {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 10px;
    border-bottom: 2px solid #e0e0e0;
}

.help_image {
    overflow: hidden;
}

.help_image img{
    display: block;
    width: 100%;
}
.help_description {
    padding-left: 10px;
}